.text {
  color:red;
  font-family:'Times New Roman', Times, serif;
  font-size: 150%;
}

#myText {
  color: aqua;
  text-align: center;
}

.text2 {
  color: crimson;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}